#content {
    margin-top: 40px;
}

#preview-container {
    background: white;
}

#preview {
    max-width: 100%;
    width: auto   9;
    height: auto;
    vertical-align: middle;
    border: 1px solid red;
    -ms-interpolation-mode: bicubic;
}

