<nav id="site-nav" class="navbar navbar-expand-md navbar-dark fixed_top">
    <a class="navbar-brand" href="/">{{ site.title }}</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle{% if page.name == "tool" %} active{% endif %}"
                data-toggle="dropdown" id="navbarToolsDropdown">Layouts</a>
                <div class="dropdown-menu">
                    {% for layout in page.layouts %}
                        {% if layout.visible %}
                            <a class="dropdown-item{% if layout.name == page.layout.name %} active{% endif %}" href="?layout_name={{ layout.name }}">{{ layout.title }}</a>
                        {% endif %}
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="?cgtool_action=reload">Reload</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
</nav>
