<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% if user %}{{ user.name }}@{% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.author }}" />

    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    {% for stylesheet in site.css %}
        <link rel="stylesheet" href="{{ stylesheet }}" />
    {% endfor %}

    {% for stylesheet in page.css %}
        <link rel="stylesheet" href="{{ stylesheet }}" />
    {% endfor %}
</head>

<body id="{{ page.name }}">
    {% if user %}{% include "includes/navbar.html" %}{% endif %}

    <main id="content">
        {% block content %}{% endblock %}
    </main>

    {% for script in site.js %}
        <script src="{{ script }}"></script>
    {% endfor %}

    {% for script in page.js %}
        <script src="{{ script }}"></script>
    {% endfor %}
</body>
</html>
