{% extends "_base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Editor</div>
            <div class="card-body">
                {% include "includes/editor_form.html" %}
            </div>
        </div>
    </div> <!-- left column -->

    <div class="col-md-8">
        <div class="card">
            <div class="card-header">{{ page.layout.title }}</div>
            <div class="card-body>">
            <div id="preview-container">
                <img id="preview" src="/render/{{ user.name }}/{{ page.layout.name }}?{{ page.params | urlencode }}">
            </div>
        </div>
    </div> <!-- right column -->

</div> <!-- row -->
{% endblock %}
